@model DashboardViewModel
@{ ViewData["Title"] = "Home Page"; }

<div class="text-center mt-4">
    @if (Model.HasImage)
    {
        <svg>
            @Html.Raw(Model.ImageData)
        </svg>
    } 
    else
    {
        <h1 class="subject">@Model.Characters</h1>
    }

    <div>@Model.Meaning</div>
    <div>@Model.Reading</div>
    <div>@Model.Level</div>
    <div>@Model.AvailableLessonsCount</div>
    <div>@Model.AvailableReviewsCount</div>
</div>
